[user]
	name = jus
	email = gitgoodjust4lulz@yahoo.com
[pull]
	ff = only
[alias]
	lg = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
